*{
   margin: 0;
   padding: 0;
}
div{
    box-sizing: border-box;
    width: 600px;
    height: 300px;
    background-color: brown;
}


h1{
    background-color: bisque;
    color: black;
    font-size: 32px;
    
}

span {
    color: rosybrown;
    font-size: 16px;
}